---
import { sanityClient } from 'sanity:client';
import Layout from '../../layouts/Layout.astro';
import type { Artist } from '../../types/artist';
import SanityImage from '../../components/SanityImage.astro';

const artists = await sanityClient.fetch(`*[_type == "artist"]`);
---

<Layout title="artists">
  <article class="container">
    <h1>Artists</h1>

    <ul class="artist-list">
      {
        artists.map((artist: Artist) => (
          <li>
            {artist.instagram ? (
              <a
                href={`https://www.instagram.com/${artist.instagram}`}
                target="_blank"
                rel="noreferrer"
              >
                {artist.image && (
                  <SanityImage
                    class="portfolio-image"
                    mode="cover"
                    node={artist.image}
                  />
                )}
                <h3>{artist.name}</h3>
              </a>
            ) : (
              <>
                {artist.image && (
                  <SanityImage
                    class="portfolio-image"
                    mode="cover"
                    node={artist.image}
                  />
                )}
                <h3>{artist.name}</h3>
              </>
            )}
          </li>
        ))
      }
    </ul>
  </article>
</Layout>

<style>
  article {
    padding-block: 2rem;
  }

  ul {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    justify-content: center;
    list-style: none;
    padding: 0;
  }

  li {
    border-radius: 0.25rem;
    overflow: hidden;
    text-align: center;
    background-color: #1d1d1d;
    color: white;
    position: relative;
    aspect-ratio: 1;
  }

  img {
    transition: all 0.2s ease-in-out;
    scale: 1;
    z-index: 2;
  }

  a {
    display: flex;
    align-items: center;
    color: white;
    height: 100%;
    width: 100%;

    &:hover {
      text-decoration: none;

      & img {
        scale: 1.1;
      }
    }
  }

  h3 {
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    background: black;
    z-index: 4;
    padding-block: 0.25rem;
  }
</style>
